main_dark ICON "..\\Resources\\NppESPHome_Dark.ico"
main_light ICON "..\\Resources\\NppESPHome_Light.ico"
clean BITMAP "..\\Resources\\Toolbar\\Clean.bmp"
clean_dark ICON "..\\Resources\\Toolbar\\Clean_Dark.ico"
clean_light ICON "..\\Resources\\Toolbar\\Clean_Light.ico"
compile BITMAP "..\\Resources\\Toolbar\\Compile.bmp"
compile_dark ICON "..\\Resources\\Toolbar\\Compile_Dark.ico"
compile_light ICON "..\\Resources\\Toolbar\\Compile_Light.ico"
configure BITMAP "..\\Resources\\Toolbar\\Configure.bmp"
help BITMAP "..\\Resources\\Toolbar\\Help.bmp"
help_dark ICON "..\\Resources\\Toolbar\\Help_Dark.ico"
help_light ICON "..\\Resources\\Toolbar\\Help_Light.ico"
open BITMAP "..\\Resources\\Toolbar\\Open.bmp"
open_dark ICON "..\\Resources\\Toolbar\\Open_Dark.ico"
open_light ICON "..\\Resources\\Toolbar\\Open_Light.ico"
opendeps BITMAP "..\\Resources\\Toolbar\\OpenDeps.bmp"
opendeps_dark ICON "..\\Resources\\Toolbar\\OpenDeps_Dark.ico"
opendeps_light ICON "..\\Resources\\Toolbar\\OpenDeps_Light.ico"
run BITMAP "..\\Resources\\Toolbar\\Run.bmp"
run_dark ICON "..\\Resources\\Toolbar\\Run_Dark.ico"
run_light ICON "..\\Resources\\Toolbar\\Run_Light.ico"
select BITMAP "..\\Resources\\Toolbar\\Select.bmp"
select_dark ICON "..\\Resources\\Toolbar\\Select_Dark.ico"
select_light ICON "..\\Resources\\Toolbar\\Select_Light.ico"
showlogs BITMAP "..\\Resources\\Toolbar\\ShowLogs.bmp"
showlogs_dark ICON "..\\Resources\\Toolbar\\ShowLogs_Dark.ico"
showlogs_light ICON "..\\Resources\\Toolbar\\ShowLogs_Light.ico"
upgrade BITMAP "..\\Resources\\Toolbar\\Upgrade.bmp"
upgrade_dark ICON "..\\Resources\\Toolbar\\Upgrade_Dark.ico"
upgrade_light ICON "..\\Resources\\Toolbar\\Upgrade_Light.ico"
upload BITMAP "..\\Resources\\Toolbar\\Upload.bmp"
upload_dark ICON "..\\Resources\\Toolbar\\Upload_Dark.ico"
upload_light ICON "..\\Resources\\Toolbar\\Upload_Light.ico"
visit BITMAP "..\\Resources\\Toolbar\\Visit.bmp"
visit_dark ICON "..\\Resources\\Toolbar\\Visit_Dark.ico"
visit_light ICON "..\\Resources\\Toolbar\\Visit_Light.ico"
configure_dark ICON "..\\Resources\\Toolbar\\Configure_Dark.ico"
configure_light ICON "..\\Resources\\Toolbar\\Configure_Light.ico"
showhide BITMAP "..\\Resources\\Toolbar\\ShowHide.bmp"
showhide_dark ICON "..\\Resources\\Toolbar\\ShowHide_Dark.ico"
showhide_light ICON "..\\Resources\\Toolbar\\ShowHide_Light.ico"
